﻿/* 
* alteraciones bootstrap
*/
.container {
  width: 99%;
}

.panel-warning {
  border-color: #fbeed5;
}
.panel-warning > .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}
.panel-warning > .panel-heading > .panel-title {
  color: #c09853;
}

/* 
* alteraciones jquery.ui
*/
.ui-widget {
  font-size: 13px !important;  
}

/* 
* personalizados
*/
.sist-margin-cero { margin: 0px !important;  }
.sist-margin-bottom-2 { margin-bottom: 2px !important;  }
.sist-margin-bottom-5 { margin-bottom: 5px !important;  }
.sist-margin-bottom-0 { margin-bottom: 0px !important;  }
.sist-margin-top-10 { margin-top: 10px !important;  }
.sist-font-size-11 { font-size: 11px !important; }
.sist-font-size-12 { font-size: 12px !important; }
.sist-font-size-14 { font-size: 14px !important; }
.sist-font-size-16 { font-size: 16px !important; }
.sist-font-size-20 { font-size: 20px !important; }
.sist-font-size-24 { font-size: 24px !important; }
.sist-font-size-30 { font-size: 30px !important; }
.sist-font-color-black { color: #000 !important; }
.sist-font-weight-normal { font-weight: normal }
.sist-font-bold { font-weight: bold; }
.sist-padding-cero-cola { padding-left: 5px !important; padding-right: 0px !important; }
.sist-padding-cero { padding: 0px !important;}
.sist-padding-5 { padding: 5px !important; }
.sist-padding-15 { padding: 15px !important; }
.sist-padding-left-5 { padding-left: 5px !important; }
.sist-padding-left-10 { padding-left: 10px !important; }
.sist-padding-right-5 { padding-right: 5px !important; }
.sist-padding-top-3 { padding-top: 3px !important; }
.sist-padding-top-5 { padding-top: 5px !important; }
.sist-padding-top-8 { padding-top: 8px !important; }
.sist-padding-top-10 { padding-top: 10px !important; }
.sist-padding-top-20 { padding-top: 20px !important; }
.sist-padding-bottom-5 { padding-bottom: 5px !important; }
.sist-padding-bottom-3 { padding-bottom: 3px !important; }
.sist-padding-bottom-10 { padding-bottom: 10px !important; }
.sist-clear-both { clear: both !important; }
.sist-titulo-seccion { font-size: 15px !important; font-weight: bold !important; padding-bottom: 5px !important }
.sist-padding-label-prioridad { padding: 0px 5px 0px 5px; }
.sist-width-100-porciento { width: 100% !important }
.sist-width-99-porciento { width: 99% !important }
.sist-width-300 { width: 225px !important }
.sist-height-alertas-sin-atender { height: 450px !important;}
.sist-height-alertas-atendidas-hoy { height: 420px !important;}
.sist-height-historial-escalamientos-to { height: 200px !important;}
.sist-height-historial-escalamientos-sin-datos-to { height: 10px !important;}
.sist-height-historial-escalamientos-supervisor { height: 150px !important;}
.sist-height-historial-escalamientos-sin-datos-supervisor { height: 10px !important;}
.sist-height-cola-atencion { height: 160px !important;}
.sist-padding-numero-escalamiento { padding:3px 15px !important; }
.sist-cursor-pointer { cursor: pointer; }
.sist-display-none { display: none; }
.sist-display-inline { display: inline; }
.sist-padding-script{padding: 10px 20px 0px 20px !important;}
.sist-height-mensaje-alerta-sin-atender { height: 80px; }
.sist-border-width-5 {border-width: 5px 0px 0px}
.sist-map-canvas { width: 100%; height: 350px; background-color: #e5e3df; }
.sist-map-canvas-carrier { width: 100%; height: 100%; background-color: #e5e3df; }
.sist-fila-destacada { background-color: Yellow; font-weight: bold }
.sist-font-weight-normal { font-weight: normal }
.sist-border-color-red { border: solid 1px red; }
.sist-border-color-green { border: solid 1px green; }
.sist-border-color-blue { border: solid 1px blue; }
.sist-width-login { width: 650px; }
.sist-nowrap { white-space: nowrap; }
.sist-height-mensaje-footer { height: 75px; }
.sist-map-canvas-donde-esta-camion { width: 100%; height: 380px; background-color: #e5e3df; }
.sist-inactivo { color: #959595; }
.sist-activo { font-weight: bold; }
.sist-auxiliar {
  color: #FFF;
  font-weight: bold;
  background-color: #C71C22;
  border-color: #C71C22;
  display: inline-block;
  padding: 2px 12px;
  margin-bottom: 0px;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -moz-user-select: none;
}
.sist-padding-expandir-contraer { padding: 10px 70px !important; }
.sist-width-imagen { width: 150px !important; }
.sist-carrier-camion { border:solid 1px white; width:125px; padding:5px }
.btn-yellow { color: #fff;  background-color: #e6f32e;  border-color: #c7d838;}
.btn-yellow:hover { color: #fff;  background-color: #e6f32e;  border-color: #c7d838;} 
.btn-yellow:focus { color: #fff;  background-color: #e6f32e;  border-color: #c7d838;}