﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Default.aspx.vb" Inherits="WebTransportePochteca._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
	  <meta http-equiv="Cache-Control" content="no-cache" />
	  <meta http-equiv="Pragma" content="no-cache" />
	  <meta http-equiv="Expires" content="-1" />
    <title>ALTO SISTEMA</title>
</head>
<body style="font-size: 11px; color: black; font-family: Arial">
    <form id="form1" runat="server">
    </form>
</body>
</html>
