﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Common.GenerarPDFDiscrepancia.aspx.vb" Inherits="WebTransportePochteca.Common_GenerarPDFDiscrepancia" AspCompat="true" %>

<html id="htmlBody" runat="server" xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
  <title>Generar Reporte</title>
</head>
<body>
  <form id="form1" runat="server">
    <div>
      <!-- mantener estructura html -->
    </div>
  </form>
</body>
</html>
