﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/common/MasterPage.Master" CodeBehind="Home.Menu.aspx.vb" Inherits="WebTransportePochteca.Home_Menu" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphContent" runat="server">

  <div class="jumbotron">
    <h1>Bienvenido</h1>
    <p>ALTO TRACK</p>
  </div>

</asp:Content>